main{
    background-color: orange;
}

.leftaside{
    background-color: blue;
}

.rightaside{
    background-color: green;
}

.title{
    text-align: center;
}

.article{
    text-align: center;
}


.btn-warning{
    background-color:red;
}

.navbar{
    border-radius: 0px;
    border: 0px;
    text-align: right;
}



.navbar-inverse {
    background-color: rebeccapurple;
}

.myBtn{
    background-color: rebeccapurple;
    font-style: italic;
    border: 4px groove gold;
}

.mgallery{
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rebeccapurple;
    border: 2px groove gold;
    padding: 5px;
}
.container-fluid{

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #80c1ff;
    color: black;
    text-align: center;
    border: 2px groove darkred;
    max-height: 70px;
}

.videogalerija{
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rebeccapurple;
    border: 2px groove gold;
    padding: 5px;
}